<% if flash[:success] %>
  <div><%= flash[:success] %></div>
<% end %>

<h1>Carriers</h1>

<%= form_tag(carriers_path, method: :get) do %>
  <%= label_tag(:q, "Filter by name, manufacturer or model") %>
  <%= text_field_tag(:q, params[:starts_with]) %>
  <%= submit_tag("Search") %>
<% end %>

<ul>
  <% @carriers.each do |carrier| %>
    <li>
      <%= link_to carrier.name, carrier %><br>
    </li>
  <% end %>
</ul>
